---
layout: default
---

<div class="container">

    {% include sidebarDefault.html %}

    <div class="content">
        <div class="notification">
            <div class="left"><i class="fa fa-tags"></i>TAG: <span>{{tag.name}}</span></div>
            <div class="right"><a href="{{ site.url }}"><i class="fa fa-times"></i></a></div>
        </div>
        <div class="widget info_widget">
            {% if site.logoPath != blank %}
            <a href="{{ site.url }}" class="logo">
                <!--TODO: Create logo-->
                <!--<img src="{{ site.logoPath }}" alt="{{ site.name }}" />-->
                <h2>C4P Logo comming soon</h2>
            </a>
            {% endif %}
            <p>{{ site.description }}</p>
        </div>
        <div class="inlinemenu">
            <div class="graybar">
                <div class="left"><i class="fa fa-bars"></i>Navigation</div>
                <div class="right"><i class="fa fa-chevron-down"></i></div>
            </div>
            {% include navigation.html %}
        </div>
        <div class="postlist">

            {% for post in paginator.posts %}

            <!--TODO: Find a way to set currentTag, maybe from URL?-->
            {% if post.tags contains currentTag %}

            <!--TODO: Not sure if this if stacking is proper, yet...-->
            {% if page.postType == "featured" %}
            <article class="post feature">
                <a href="{{ post.url }}" class="largeimage postfeature">
                    <div class="shadow"></div>
                    <h1>{{ post.title }}</h1>
                </a>
                <div class="info">
                    <div class="left">
                        <a href="{{ post.url }}" class="author"><img src="http://www.gravatar.com/avatar/{{ post.author.gravatar }}" alt="author" class="minigravatar">{{ post.author.displayName }}</a>
                    </div>
                    <div class="right">
                        <a href="{{ post.url }}" class="date"><i class="fa fa-clock-o"></i>{{ post.date | date: "%B %d, %Y" }}</a>
                           <span class="tags"><i class="fa fa-tags"></i>
                                {% for tag in site.data.tags %}
                                   {% if page.tags contains tag.name %}
                                        <a href="{{ tag.url }}">{{ tag.name }}</a>
                                   {% endif %}
                                {% endfor %}
                            </span>
                    </div>
                </div>
                <div class="postcontents index">
                    {{ post.excerpt }}
                </div>
                <div class="footer">
                    <a href="{{ post.url }}" class="largesolid orange left">Read More</a>
                </div>
            </article>

            {% elsif page.postType == "banner" %}

            <article class="post banner">
                <a class="basicfeature postfeature" href="{{ post.url }}"></a>
                <h1><a href="{{ post.url }}">{{title}}</a></h1>
                <div class="info">
                    <div class="left">
                        <a href="{{ post.url }}" class="author"><img src="http://www.gravatar.com/avatar/{{ post.author.gravatar }}" alt="author" class="minigravatar">{{ post.author.displayName }}</a>
                    </div>
                    <div class="right">
                        <a href="{{ post.url }}" class="date"><i class="fa fa-clock-o"></i>{{ post.date  | date: "%B %d, %Y" }}</a>
                           <span class="tags"><i class="fa fa-tags"></i>
                               {% for tag in site.data.tags %}
                                   {% if page.tags contains tag.name %}
                                        <a href="{{ tag.url }}">{{ tag.name }}</a>
                                   {% endif %}
                                {% endfor %}
                            </span>
                    </div>
                </div>
                <div class="postcontents index">
                    {{ post.excerpt }}
                </div>
                <div class="footer">
                    <a href="{{ post.url }}" class="largesolid orange left">Read More</a>
                </div>
            </article>

            {% elsif page.postType contains "featured, banner" %}

            <article class="post standard">
                <h1><a href="{{ post.url }}">{{ post.title }}</a></h1>
                <div class="info">
                    <div class="left">
                        <a href="{{ post.url }}" class="author"><img src="http://www.gravatar.com/avatar/{{ post.author.gravatar }}" alt="author" class="minigravatar">{{ post.author.displayName }}</a>
                    </div>
                    <div class="right">
                        <a href="{{ post.url }}" class="date"><i class="fa fa-clock-o"></i>{{ post.date  | date: "%B %d, %Y" }}</a>
                           <span class="tags"><i class="fa fa-tags"></i>
                               {% for tag in site.data.tags %}
                                   {% if page.tags contains tag.name %}
                                        <a href="{{ tag.url }}">{{ tag.name }}</a>
                                   {% endif %}
                                {% endfor %}
                            </span>
                    </div>
                </div>
                <div class="postcontents index">
                    <p>{{ post.excerpt }}&hellip;</p>
                </div>
                <div class="footer">
                    <a href="{{ post.url }}" class="largesolid orange left">Read More</a>
                </div>
            </article>
            {% endif %}

            {% endif %}

            {% endfor %}

            {% include pagination.html %}

        </div>
    </div>

</div>
