<ul class="menu">
    <li><a href="/about-us/">About us</a></li>
    <li>
        <a href="#">Features <i class="fa fa-chevron-down"></i></a>
        <ul>
            <li><a href="/getting-started-with-yeoman-grunt/">Featured Post</a></li>
            <li><a href="/responsive-mobile-design/">Feature Post</a></li>
            <li><a href="/orca-ghost-theme/">Banner Title Post</a></li>
            <li><a href="/social-profiles/">Standard Post</a></li>
        </ul>
    </li>
    <li><a href="/contact/">Contact</a></li>
</ul>
