<div class="alternate">
    <aside>
        <!-- Description Widget -->
        <div class="widget info_widget">
            {{#if @blog.logo}}
                <a href="{{ site.host }}" class="logo"><img src="{{ site.logo }}" alt="{{ site.title }}"></a>
            {{/if}}
            <p>{{ site.description}}</p>
        </div>
        <!-- Social Widget -->
        <div class="widget social_widget">
            {% include socialSidebar.html %}
        </div>
        <!-- Tag Widget -->
        <div class="widget tag_widget">
            {% include tags.html %}
        </div>
    </aside>
</div>