<div class="alternate">
    <aside>
        <!-- Description Widget -->
        <div class="widget info_widget">
            {% if site.logoPath != blank %}
                <a href="{{ site.url }}" class="logo">
                    <!--TODO: Create logo-->
                    <img src="{{ site.logoPath }}" alt="{{ site.name }}" />
                </a>
            {% endif %}
            <p>{{ site.description}}</p>
        </div>
        <!-- Social Widget -->
        <div class="widget social_widget">
            {% include socialSidebar.html %}
        </div>
        <!-- Tag Widget -->
        <div class="widget tag_widget">
            {% include tags.html %}
        </div>
    </aside>
</div>
