<a href="http://twitter.com" target="_blank" class="social social_solid twitter"><i class="fa fa-twitter"></i></a>
<a href="http://facebook.com" target="_blank" class="social social_solid facebook"><i class="fa fa-facebook"></i></a>
<a href="http://plus.google.com" target="_blank" class="social social_solid google"><i class="fa fa-google-plus"></i></a>
<a href="http://dribbble.com" target="_blank" class="social social_solid dribbble"><i class="fa fa-dribbble"></i></a>
<a href="http://instagram.com" target="_blank" class="social social_solid instagram"><i class="fa fa-instagram"></i></a>
<a href="{{ site.url }}/rss/" target="_blank" class="social social_solid rss"><i class="fa fa-rss"></i></a>