<a href="https://twitter.com/coding4passion" target="_blank" class="social social_solid twitter"><i class="fa fa-twitter"></i></a>
<a href="https://www.facebook.com/coding4passion" target="_blank" class="social social_solid facebook"><i class="fa fa-facebook"></i></a>
<a href="https://plus.google.com/+Coding4passionOrg" rel="publisher" target="_blank" class="social social_solid google"><i class="fa fa-google-plus"></i></a>
<a href="https://github.com/Coding4Passion" target="_blank" class="social social_solid github"><i class="fa fa-github"></i></a>
<a href="http://feeds.feedburner.com/Coding4Passion" target="_blank" class="social social_solid rss"><i class="fa fa-rss"></i></a>
