<!DOCTYPE html>
<html lang="en">
    {% include head.html %}
    <body>
        <nav class="mainnav {{#post}}{{/post}}">
            <a id="top"></a>
            <div class="navwrap">
                {% include navigation.html %}
                <div class="toggle"><a href="#"><i class="fa fa-bars"></i></a></div>
            </div>
        </nav>

        {{ content }}
        <a href="#top" class="backtotop"><i class="fa fa-chevron-up"></i></a>

        <footer>
            <div class="wrapper">
                <div class="copyright">
                    Copyright &copy; <a href="{{ site.url }}">{{ site.name }}</a>. {{ site.time | date: '%Y' }} • All rights reserved.<br>
                    <small>Proudly published with <a href="http://ghost.io">Ghost</a>.</small>
                </div>
                <div class="sociallinks">
                    {% include socialFooter.html %}
                </div>
            </div>
        </footer>

        <script async type="text/javascript" src="/lib/assets/js/theme.min.js"></script>

    </body>
</html>
